* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .image-holder {
  display: inline-block;
}

header .image-holder img {
  width: 65px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 30px;
  -webkit-transition: 550ms;
  transition: 550ms;
}

header .image-holder img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

header .header-nav ul li {
  list-style: none;
  display: inline-block;
}

header .header-nav ul li a {
  display: inline-block;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  margin-right: 60px;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .header-nav ul li a:hover {
  text-decoration: underline;
  color: #ffc311;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-nav ul li .active {
  color: #ffc311;
}

header .header-nav ul li .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

footer {
  background-color: #34495e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

footer .contact {
  width: 30%;
}

footer .contact h1 {
  margin-bottom: 10px;
}

footer .contact i {
  color: #ffc311;
}

footer .contact p {
  display: inline-block;
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px 5px;
}

ul {
  margin-bottom: 0;
}

.commentd {
  margin-top: 25px;
  color: #34495e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.commentd > h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: none;
  font-size: 30px;
}

.commentd .comment {
  margin-left: 45%;
  background-color: #34495e;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .popupc {
  height: auto;
  width: 500px;
  background: #34495e;
  z-index: 100;
}

.popup .popupc .remove {
  width: 500px;
}

.popup .popupc .remove .close {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 95%;
}

.popup .popupc .remove > h1 {
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.popup .popupc .content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.popup .popupc .content .submit {
  margin-left: 40%;
  margin-top: 8px;
  width: 25%;
  height: 30px;
  background: #ffc311;
  color: white;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.cardsContainer {
  margin: 15px auto;
  min-height: 400px;
}

.cardsContainer #cardContainer {
  margin: auto;
  margin-bottom: 15px;
  width: 95%;
}

.cardsContainer #cardContainer .commentbox {
  margin-bottom: 10px;
  position: relative;
}

.cardsContainer #cardContainer .commentbox .text-right {
  position: absolute;
  right: 15px;
  top: 15px;
}

.cardsContainer #cardContainer .commentbox i {
  display: inline-block;
  color: white;
}

.cardsContainer #cardContainer .commentbox h3 {
  color: white !important;
  display: inline-block;
}

.cardsContainer #cardContainer .commentbox p {
  color: white;
}
/*# sourceMappingURL=Comment.css.map */