* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .image-holder {
  display: inline-block;
}

header .image-holder img {
  width: 65px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 30px;
  -webkit-transition: 550ms;
  transition: 550ms;
}

header .image-holder img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

header .header-nav ul li {
  list-style: none;
  display: inline-block;
}

header .header-nav ul li a {
  display: inline-block;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  margin-right: 60px;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .header-nav ul li a:hover {
  text-decoration: underline;
  color: #ffc311;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-nav ul li .active {
  color: #ffc311;
}

header .header-nav ul li .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

footer {
  background-color: #34495e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

footer .contact {
  width: 30%;
}

footer .contact h1 {
  margin-bottom: 10px;
}

footer .contact i {
  color: #ffc311;
}

footer .contact p {
  display: inline-block;
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px 5px;
}

.page {
  width: 90%;
  margin: auto;
}

.page .map {
  margin: 30px 0;
  -webkit-box-shadow: 0 0 20px;
          box-shadow: 0 0 20px;
}

.page .map h1 {
  font-weight: 100;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 40px;
}

.page .map > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.page .map > div img {
  width: 30%;
}

.page .map > div > div {
  width: 70%;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.page .map > div > div p {
  margin: 20px 0;
}

.page .map > div > div span {
  color: #ffc311;
}

.page .crna {
  background-color: #34495e;
}

.page .crna h1 {
  color: white;
}

.page .crna > div > div {
  color: white;
}
/*# sourceMappingURL=Map.css.map */