* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .image-holder {
  display: inline-block;
}

header .image-holder img {
  width: 65px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 30px;
  -webkit-transition: 550ms;
  transition: 550ms;
}

header .image-holder img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

header .header-nav ul li {
  list-style: none;
  display: inline-block;
}

header .header-nav ul li a {
  display: inline-block;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  margin-right: 60px;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .header-nav ul li a:hover {
  text-decoration: underline;
  color: #ffc311;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-nav ul li .active {
  color: #ffc311;
}

header .header-nav ul li .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

footer {
  background-color: #34495e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

footer .contact {
  width: 30%;
}

footer .contact h1 {
  margin-bottom: 10px;
}

footer .contact i {
  color: #ffc311;
}

footer .contact p {
  display: inline-block;
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px 5px;
}

.page .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.page .mapa .left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page .mapa .left svg {
  border: solid 10px #ffc311;
  background-color: white;
  width: 500px;
  height: 400px;
  margin-left: 50px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .mapa .left svg a {
  fill: #b1d1a3;
  opacity: 1;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #00000067;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.page .mapa .left svg a:hover {
  cursor: pointer;
  fill: #c8f867;
}

.page .mapa .left svg a:active {
  fill: yellow;
  opacity: 1;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #d4a21667;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.page .mapa .left svg .active {
  fill: yellow;
}

.page .mapa .right {
  background-color: #34495e;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  color: white;
  padding: 50px;
  position: relative;
  -webkit-box-shadow: 10px 10px 20px gray;
          box-shadow: 10px 10px 20px gray;
}

.page .mapa .right p {
  font-size: 42px;
}

.page .mapa .right p .number {
  color: #ffc311;
}

.page .mapa .right img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 65px;
}

.page .zone {
  padding: 30px;
  background-color: #34495e;
  color: white;
}

.page .zone .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .zone .holder > div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-size: 30px;
}

.page .zone .holder > div > div {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .zone .holder > div > div h2 {
  color: white;
  text-align: center;
}

.page .zone .holder > div .green {
  background-color: #19b80b;
}

.page .zone .holder > div .green:hover {
  cursor: pointer;
  background-color: #0c5805;
}

.page .zone .holder > div .orange {
  background-color: #ffc311;
}

.page .zone .holder > div .orange:hover {
  cursor: pointer;
  background-color: #aa7f00;
}

.page .zone .holder > div .red {
  background-color: #ff5722;
}

.page .zone .holder > div .red:hover {
  cursor: pointer;
  background-color: #bb2d00;
}

.page .zone .holder > div .beo {
  height: 70px;
  background-color: white;
}

.page .report {
  padding: 35px;
}

.page .report h1 {
  margin-bottom: 0;
  color: #34495e;
}

.page .report p {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.page .report .holder a {
  text-decoration: none;
  color: black;
}

.page .report .holder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50px;
  margin: 40px 0px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 10px;
          box-shadow: 2px 2px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .report .holder .left {
  background-color: #8dc6ff;
}

.page .report .holder .left:hover {
  cursor: pointer;
  background-color: #2793ff;
}

.page .report .holder .right {
  background-color: #ffc311;
  margin-left: auto;
}

.page .report .holder .right:hover {
  cursor: pointer;
  background-color: #aa7f00;
}
/*# sourceMappingURL=Style.css.map */