footer {
    background-color: $prim-color;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 100px;
    }
    .contact {
        width: 30%;
        h1 {
            margin-bottom: 10px;
        }
        i {
            color: $orange;
        }
        p {
            display: inline-block;
            color: #aaaaaa;
            font-size: 30px;
            margin: 10px 5px;
        }
    }
}
