// import all scss file
@import "Values";
@import "Header";
@import "Footer";

.page {
    .mapa {
        display: flex;
        padding: 40px;
        .left {
            flex-grow: 1;
            svg {
                border: solid 10px #ffc311;
                background-color: white;
                width: 500px;
                height: 400px;
                margin-left: 50px;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                a {
                    fill: #b1d1a3;
                    opacity: 1;
                    fill-opacity: 1;
                    fill-rule: evenodd;
                    stroke: #00000067;
                    stroke-width: 2;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                    &:hover {
                        cursor: pointer;
                        fill: rgb(200, 248, 103);
                    }
                    &:active {
                        fill: yellow;
                        opacity: 1;
                        fill-opacity: 1;
                        fill-rule: evenodd;
                        stroke: #d4a21667;
                        stroke-width: 2;
                        stroke-linecap: butt;
                        stroke-linejoin: miter;
                        stroke-miterlimit: 4;
                        stroke-dasharray: none;
                        stroke-opacity: 1;
                    }
                }
                .active {
                    fill: yellow;
                }
            }
        }
        .right {
            background-color: $prim-color;
            flex-grow: 10;
            color: white;
            padding: 50px;
            position: relative;
            box-shadow: 10px 10px 20px gray;
            p {
                font-size: 42px;
                .number {
                    color: $orange;
                }
            }
            img {
                position: absolute;
                bottom: 30px;
                right: 30px;
                width: 65px;
            }
        }
    }
    .zone {
        padding: 30px;
        background-color: $prim-color;
        color: white;
        .holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                flex-basis: 30%;
                font-size: 30px;
                > div {
                    width: 100%;
                    height: 130px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        color: white;
                        text-align: center;
                    }
                }
                .green {
                    background-color: $green;
                    &:hover {
                        cursor: pointer;
                        background-color: darken($green, 20);
                    }
                }
                .orange {
                    background-color: $orange;
                    &:hover {
                        cursor: pointer;
                        background-color: darken($orange, 20);
                    }
                }
                .red {
                    background-color: $red;
                    &:hover {
                        cursor: pointer;
                        background-color: darken($red, 20);
                    }
                }
                .beo {
                    height: 70px;
                    background-color: white;
                }
            }
        }
    }

    .report {
        padding: 35px;
        h1 {
            margin-bottom: 0;
            color: $prim-color;
        }
        p {
            font-size: 35px;
            font-weight: bold;
            color: white;
        }
        .holder {
            a {
                text-decoration: none;
                color: black;
            }
            div {
                display: flex;
                width: 80%;
                height: 50px;
                margin: 40px 0px;
                padding: 20px;
                box-shadow: 2px 2px 10px;
                justify-content: center;
                align-items: center;
            }
            .left {
                background-color: $cyan;
                &:hover {
                    cursor: pointer;
                    background-color: darken($cyan, 20);
                }
            }
            .right {
                background-color: $orange;
                margin-left: auto;
                &:hover {
                    cursor: pointer;
                    background-color: darken($orange, 20);
                }
            }
        }
    }
}
